.accordeon {
    font-size: 25px;
    color: #666;
    cursor: pointer;
    background: #fff;
}

.accordeon:hover {
    color: #999;
}

.accordeon:before {
    content: "\f067";
}

.accordeon--open:before {
    content: "\f068"
}

.accordeon__content::-webkit-scrollbar { 
    display: none; 
}

.accordeon__content {
    overflow-y: scroll;
    opacity: 0;
    max-height: 0;
    transition: all .5s ease;
    color: #333;
    padding: 10px;
    font-size: 18px;
    font-family: Roboto-Black,sans-serif;
}


.accordeon--open .accordeon__content {
    max-height: 500px;
    opacity: 1;
} 