@import 'styles/vars';

.personal-skills {
  height: $container-height;
  text-align: center;
  padding-top: 30px;
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-light;

  &__list {
    width: 100%;
    max-width: $container-width;
  }
}
