@import 'styles/vars';

.personal-skills {
  height: auto;
  min-height: $container-height;
  text-align: center;
  padding-top: 30px;
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-light;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
  }

  &__graphic {
    text-align: left;
    width: 50%;
    padding: 10px;
    margin-top: 0;

    &__title {
      margin-bottom: 10px;
    }
  }
}
