@import 'vars';

.title {
  font-size: 24px;
  font-weight: 600;
  color: $color-primary;
  @media screen and(max-width: $breakpoint-sm) {
    font-size: 18px;
  }
  
  &--big {
    font-size: 60px;
    @media screen and(max-width: $breakpoint-sm) {
      font-size: 40px;
    }
  }

  &--slim {
    font-weight: 300;
  }

  &--small {
    font-size: 20px;
    @media screen and(max-width: $breakpoint-sm) {
      font-size: 18px;
    }
  }

  &--sub {
    font-size: 35px;
    @media screen and(max-width: $breakpoint-sm) {
      font-size: 25px;
    }
  }

  &--light {
    color: $color-light;
  }
}

.text {
  &--justify {
    text-align: justify;
  }

  &--light {
    color: $color-light;
  }

  &--bold {
    font-weight: 600;
  }
}

.icon {
  font-size: 30px;
  color: $color-green-light;
  margin-right: 20px;

  &:hover {
    color: lighten($color-green-light, 20)
  }
}

.btn {
  padding: 10px;
  font-weight: 600;
  display: block;
  border: solid 1px $color-primary;
  color: $color-primary;
  &:hover {
    background: $color-light;
    color: $color-light;
  }

  &--light {
    border: solid 1px $color-light;
    color: $color-light;
    &:hover {
      background: $color-light;
      color: $color-primary;
    }
  }

  &--slim {
    font-weight: 300;
  }
}