@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
 	-ms-text-size-adjust: 100%;
 	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
  font-family: 'Montserrat', sans-serif;

	img {
		max-width: 100%;
	}

	a {
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
  }
}