//colors
$color-primary: #333;
$color-light: #fff;
$color-green-light: #3bdb67;

//backgrounds colors
$background-primary: #fff;

$container-height: 400px;
$container-height-md: 300px;
$container-width: 930px;

$breakpoint-gl: 1306px;
$breakpoint-md: 930px;
$breakpoint-sm: 540px;
