/*Global display none class*/
.hide {
  display: none !important;
}

/*Global title none class*/
.title {
  font-size: 24px;
  font-family: Roboto-Black,sans-serif;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
@media screen and (max-width: 930px) {
  .title {
    font-size: 20px;
  }
}

.title--small {
  font-size: 18px;
}

.sub-title {
  font-size: 20px;
  font-family: Roboto-Black,sans-serif;
  text-transform: uppercase;
  color: #333333;
  margin: 5px 0;
}

/*Global button class*/
.btn {
  padding: 8px 15px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn--primary {
  background-color: #666;
  color: white;
}

.btn--primary:hover {
  background-color: #777;
}