@import 'styles/vars';

.personal-works {
  height: auto;
  min-height: $container-height;
  text-align: center;
  padding-top: 30px;
  color: $color-primary;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;

    &__item {
      height: 300px;
      min-width: 350px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 10px;
      width: calc(50% - 40px);
      position: relative;
      cursor: pointer;
      overflow: hidden;
    }

    &__item:hover {
      .personal-works__list__title {
        top: 10px;
        transform: translate(-50%, 0%);
        color: $color-light;
      }

      .personal-works__list__text {
        top: 50%;
        transform: translate(-50%, -50%);
        color: $color-light;
      }

      &:before {
        opacity: .5;
      }
    }

    &__item:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-primary;
      opacity: 0;
      transition: all .8s ease;
    }

    &__title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .8s ease;
    }

    &__text {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      transition: all .8s ease;
    }

    &__button {
      margin-top: 10px;
    }
  }
}
