@import 'styles/vars';

.header {
  height: 400px;
  width: 100%;
  text-align: center;
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;

  &__title {
    color: $color-light;
  }
}
