@import 'styles/vars';

.header {
  height: $container-height;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;

  &__title, &__subtitle {
    color: $color-light;
  }

  &__social {
    margin-top: 20px;
  }
}
