.info-box {
  background-color: rgba(255,255,255,.7);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.info-box__info {
  text-align: left;
  margin-top: 50px;
  padding-left: 40px;
}

.info-box__controller {
  max-width: 400px;
  padding-left: 60px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.accordeon {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}
