.info-box {
  background-color: rgba(255,255,255,.7);
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 930px) {
  .info-box {
    flex-direction: column;
    min-height: 100px;
  }
}

.info-box__info {
  text-align: left;
  margin-top: 50px;
  padding-left: 40px;
}

@media screen and (max-width: 930px) {
  .info-box__info {
    text-align: justify;
    margin: 10px 20px;
    padding: 0;
  }
}

.info-box__controller {
  max-width: 400px;
  padding-left: 60px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 930px) {
  .info-box__controller {
    margin-top: 0px;
    padding: 10px;
  }
}

.accordeon {
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
}

.option-size {
  position: relative;
  padding: 20px;
  padding-top: 40px;
}

.option-size__list {
  display: flex;
}

@media screen and (max-width: 930px) {
  .option-size__list {
    justify-content: center;
  }
}

.option-size__back-button {
  cursor: pointer;
  color: #333;
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 0;
}

@media screen and (max-width: 930px) {
  .option-size__back-button:before {
    content: "\f106";
  }

  .option-size__back-button {
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
  }
}

.option-size__back-button:hover {
  color: #666;
}
